[MASTER]
ignore=venv,.venv,alembic,migrations
persistent=yes
jobs=1

[MESSAGES CONTROL]
disable=
    C0103,  # invalid-name
    C0111,  # missing-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0613,  # unused-argument
    W0703,  # broad-except

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_,id,df

[DESIGN]
max-args=10
max-attributes=15
max-locals=20
